In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Read csv file

In [2]:
data1_path = '/content/drive/MyDrive/AI/Data Analysis/DA with Python/Data1.csv'
data2_path = '/content/drive/MyDrive/AI/Data Analysis/DA with Python/Data2.csv'

In [3]:
data1 = pd.read_csv(data1_path)
data2 = pd.read_csv(data2_path)

In [4]:
data1

     Country  cpc  drive_right Purchased   pop
0     France   44         True        No  10.0
1      Spain   27        False       Yes  20.0
2    Germany   30         True        No  30.0
3      Spain   38        False        No  20.0
4    Germany   40         True       Yes  30.0
5     France   35        False       Yes  10.0
6      China   52         True        No  80.0
7      India   48         True       Yes  60.0
8    America   45         True        No  40.0
9     Canada   12        False       Yes   NaN
10  Pakistan   10         True       Yes   NaN

In [5]:
data2

  Country  gold  silver        date
0   Qatar   200       0  2014-01-01
1  Turkey   400       1  2015-02-02
2   Dubai   600       2  2016-03-03
3  Europe   800       3  2017-04-04
4      UK     0       4  3017-05-05

# Read csv file by creating list of filenames

In [8]:
filenames = [data1_path, data2_path]
for i in filenames:
  print(i)

/content/drive/MyDrive/AI/Data Analysis/DA with Python/Data1.csv
/content/drive/MyDrive/AI/Data Analysis/DA with Python/Data2.csv

In [9]:
dataframes = []
for fname in filenames:
  dataframes.append(pd.read_csv(fname))

print(dataframes)

[     Country  cpc  drive_right Purchased   pop
0     France   44         True        No  10.0
1      Spain   27        False       Yes  20.0
2    Germany   30         True        No  30.0
3      Spain   38        False        No  20.0
4    Germany   40         True       Yes  30.0
5     France   35        False       Yes  10.0
6      China   52         True        No  80.0
7      India   48         True       Yes  60.0
8    America   45         True        No  40.0
9     Canada   12        False       Yes   NaN
10  Pakistan   10         True       Yes   NaN,   Country  gold  silver        date
0   Qatar   200       0  2014-01-01
1  Turkey   400       1  2015-02-02
2   Dubai   600       2  2016-03-03
3  Europe   800       3  2017-04-04
4      UK     0       4  3017-05-05]

In [10]:
dataframes[0].head()

   Country  cpc  drive_right Purchased   pop
0   France   44         True        No  10.0
1    Spain   27        False       Yes  20.0
2  Germany   30         True        No  30.0
3    Spain   38        False        No  20.0
4  Germany   40         True       Yes  30.0

In [11]:
dataframes[1].head()

  Country  gold  silver        date
0   Qatar   200       0  2014-01-01
1  Turkey   400       1  2015-02-02
2   Dubai   600       2  2016-03-03
3  Europe   800       3  2017-04-04
4      UK     0       4  3017-05-05

# Make a copy of data2 dataframe and change column labels

In [12]:
data2_copy = data2.copy()
data2_copy

  Country  gold  silver        date
0   Qatar   200       0  2014-01-01
1  Turkey   400       1  2015-02-02
2   Dubai   600       2  2016-03-03
3  Europe   800       3  2017-04-04
4      UK     0       4  3017-05-05

In [15]:
print(data2_copy.columns)

new_labels = ['NOC', 'Country', 'Gold', 'Date']
data2_copy.columns = new_labels
print(data2_copy)

Index(['Country', 'gold', 'silver', 'date'], dtype='object')
      NOC  Country  Gold        Date
0   Qatar      200     0  2014-01-01
1  Turkey      400     1  2015-02-02
2   Dubai      600     2  2016-03-03
3  Europe      800     3  2017-04-04
4      UK        0     4  3017-05-05

# Create new column by copying existing column

In [19]:
data2_copy['silver2'] = data2['silver']
data2_copy['gold2'] = data2['gold']
data2_copy

      NOC  Country  Gold        Date  silver2  gold2
0   Qatar      200     0  2014-01-01        0    200
1  Turkey      400     1  2015-02-02        1    400
2   Dubai      600     2  2016-03-03        2    600
3  Europe      800     3  2017-04-04        3    800
4      UK        0     4  3017-05-05        4      0

# Sorting

In [20]:
df1 = pd.read_csv(data2_path, index_col='Country')
df1

         gold  silver        date
Country
Qatar     200       0  2014-01-01
Turkey    400       1  2015-02-02
Dubai     600       2  2016-03-03
Europe    800       3  2017-04-04
UK          0       4  3017-05-05

In [21]:
df1.sort_index()

         gold  silver        date
Country
Dubai     600       2  2016-03-03
Europe    800       3  2017-04-04
Qatar     200       0  2014-01-01
Turkey    400       1  2015-02-02
UK          0       4  3017-05-05

In [23]:
df1.sort_index(ascending=False)

         gold  silver        date
Country
UK          0       4  3017-05-05
Turkey    400       1  2015-02-02
Qatar     200       0  2014-01-01
Europe    800       3  2017-04-04
Dubai     600       2  2016-03-03

In [24]:
df1.sort_values('gold')

         gold  silver        date
Country
UK          0       4  3017-05-05
Qatar     200       0  2014-01-01
Turkey    400       1  2015-02-02
Dubai     600       2  2016-03-03
Europe    800       3  2017-04-04

# Shape of Dataframe

In [25]:
df1.shape

(5, 3)

# Dropna

In [27]:
df2 = pd.read_csv(data1_path, index_col='Country')
df2

          cpc  drive_right Purchased   pop
Country
France     44         True        No  10.0
Spain      27        False       Yes  20.0
Germany    30         True        No  30.0
Spain      38        False        No  20.0
Germany    40         True       Yes  30.0
France     35        False       Yes  10.0
China      52         True        No  80.0
India      48         True       Yes  60.0
America    45         True        No  40.0
Canada     12        False       Yes   NaN
Pakistan   10         True       Yes   NaN

In [29]:
df3 = df2.dropna()
df3

         cpc  drive_right Purchased   pop
Country
France    44         True        No  10.0
Spain     27        False       Yes  20.0
Germany   30         True        No  30.0
Spain     38        False        No  20.0
Germany   40         True       Yes  30.0
France    35        False       Yes  10.0
China     52         True        No  80.0
India     48         True       Yes  60.0
America   45         True        No  40.0

# Extract selected columns

In [30]:
df4 = pd.read_csv(data2_path, index_col='Country')
df4

         gold  silver        date
Country
Qatar     200       0  2014-01-01
Turkey    400       1  2015-02-02
Dubai     600       2  2016-03-03
Europe    800       3  2017-04-04
UK          0       4  3017-05-05

In [31]:
df5 = df4[['gold', 'silver']]
df5

         gold  silver
Country
Qatar     200       0
Turkey    400       1
Dubai     600       2
Europe    800       3
UK          0       4

# Perform Mathematical Operation

In [32]:
df6 = (df5 - 32) * 5/9
df6

               gold     silver
Country
Qatar     93.333333 -17.777778
Turkey   204.444444 -17.222222
Dubai    315.555556 -16.666667
Europe   426.666667 -16.111111
UK       -17.777778 -15.555556

# Reaname column name

In [34]:
df6.columns = df6.columns.str.replace('gold', 'platinum')
df6

           platinum     silver
Country
Qatar     93.333333 -17.777778
Turkey   204.444444 -17.222222
Dubai    315.555556 -16.666667
Europe   426.666667 -16.111111
UK       -17.777778 -15.555556

# Working with Dates

In [35]:
data3_path = '/content/drive/MyDrive/AI/Data Analysis/DA with Python/data3.csv'

In [36]:
gdp = pd.read_csv(data2_path, parse_dates=True, index_col='date')
gdp

           Country  gold  silver
date
2014-01-01   Qatar   200       0
2015-02-02  Turkey   400       1
2016-03-03   Dubai   600       2
2017-04-04  Europe   800       3
3017-05-05      UK     0       4

In [37]:
random = pd.read_csv(data3_path, parse_dates=True, index_col='Date')
random

            Season       Day
Date
2019-03-05   autmn  Saturday
2015-06-03  summer    Friday

In [38]:
gdp.set_index('gold', inplace=True)
gdp

     Country  silver
gold
200    Qatar       0
400   Turkey       1
600    Dubai       2
800   Europe       3
0         UK       4

# Check Index Column Type

In [45]:
print(type(gdp.index))
print(type(random.index))

<class 'pandas.core.indexes.numeric.Int64Index'>
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [46]:
print('GDP: ', isinstance(gdp.index, pd.DatetimeIndex))
print('Random: ', isinstance(random.index, pd.DatetimeIndex))

GDP:  False
Random:  True

# Slicing Data

In [50]:
gdp = pd.read_csv(data2_path)
gdp

  Country  gold  silver        date
0   Qatar   200       0  2014-01-01
1  Turkey   400       1  2015-02-02
2   Dubai   600       2  2016-03-03
3  Europe   800       3  2017-04-04
4      UK     0       4  3017-05-05

In [51]:
gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  5 non-null      object
 1   gold     5 non-null      int64
 2   silver   5 non-null      int64
 3   date     5 non-null      object
dtypes: int64(2), object(2)
memory usage: 288.0+ bytes

In [52]:
gdp['date'] = pd.to_datetime(gdp['date'], format='%Y-%m-%d', errors='coerce')
print(gdp.info())
gdp

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  5 non-null      object
 1   gold     5 non-null      int64
 2   silver   5 non-null      int64
 3   date     4 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 288.0+ bytes
None

  Country  gold  silver       date
0   Qatar   200       0 2014-01-01
1  Turkey   400       1 2015-02-02
2   Dubai   600       2 2016-03-03
3  Europe   800       3 2017-04-04
4      UK     0       4        NaT

## Slice all data from 2015 onwards

In [53]:
gdp = gdp.set_index('date')
print(type(gdp.index))

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [54]:
gdp

           Country  gold  silver
date
2014-01-01   Qatar   200       0
2015-02-02  Turkey   400       1
2016-03-03   Dubai   600       2
2017-04-04  Europe   800       3
NaT             UK     0       4

In [55]:
post2015 = gdp.loc['2015':]
post2015

           Country  gold  silver
date
2015-02-02  Turkey   400       1
2016-03-03   Dubai   600       2
2017-04-04  Europe   800       3

# Resample post2015 yearly

In [56]:
yearly = post2015.resample('M').mean()*2
yearly

              gold  silver
date
2015-02-28   800.0     2.0
2015-03-31     NaN     NaN
2015-04-30     NaN     NaN
2015-05-31     NaN     NaN
2015-06-30     NaN     NaN
2015-07-31     NaN     NaN
2015-08-31     NaN     NaN
2015-09-30     NaN     NaN
2015-10-31     NaN     NaN
2015-11-30     NaN     NaN
2015-12-31     NaN     NaN
2016-01-31     NaN     NaN
2016-02-29     NaN     NaN
2016-03-31  1200.0     4.0
2016-04-30     NaN     NaN
2016-05-31     NaN     NaN
2016-06-30     NaN     NaN
2016-07-31     NaN     NaN
2016-08-31     NaN     NaN
2016-09-30     NaN     NaN
2016-10-31     NaN     NaN
2016-11-30     NaN     NaN
2016-12-31     NaN     NaN
2017-01-31     NaN     NaN
2017-02-28     NaN     NaN
2017-03-31     NaN     NaN
2017-04-30  1600.0     6.0

# Appending

In [59]:
data1 = pd.read_csv(data1_path)
data2 = pd.read_csv(data2_path)

In [61]:
data1

     Country  cpc  drive_right Purchased   pop
0     France   44         True        No  10.0
1      Spain   27        False       Yes  20.0
2    Germany   30         True        No  30.0
3      Spain   38        False        No  20.0
4    Germany   40         True       Yes  30.0
5     France   35        False       Yes  10.0
6      China   52         True        No  80.0
7      India   48         True       Yes  60.0
8    America   45         True        No  40.0
9     Canada   12        False       Yes   NaN
10  Pakistan   10         True       Yes   NaN

In [62]:
data2

  Country  gold  silver        date
0   Qatar   200       0  2014-01-01
1  Turkey   400       1  2015-02-02
2   Dubai   600       2  2016-03-03
3  Europe   800       3  2017-04-04
4      UK     0       4  3017-05-05

In [63]:
cpc_data = data1['cpc']
cpc_data

0     44
1     27
2     30
3     38
4     40
5     35
6     52
7     48
8     45
9     12
10    10
Name: cpc, dtype: int64

In [64]:
gold_data = data2['gold']
gold_data

0    200
1    400
2    600
3    800
4      0
Name: gold, dtype: int64

In [65]:
quarter1 = cpc_data.append(gold_data)
quarter1

0      44
1      27
2      30
3      38
4      40
5      35
6      52
7      48
8      45
9      12
10     10
0     200
1     400
2     600
3     800
4       0
dtype: int64

In [66]:
print(quarter1.sum())

2381

# Build List of Series

In [67]:
units = []
for i in [cpc_data, gold_data]:
  units.append(i)

print(units)

[0     44
1     27
2     30
3     38
4     40
5     35
6     52
7     48
8     45
9     12
10    10
Name: cpc, dtype: int64, 0    200
1    400
2    600
3    800
4      0
Name: gold, dtype: int64]

# Concatenate List

In [68]:
quarter1 = pd.concat(units, axis='rows')
quarter1

0      44
1      27
2      30
3      38
4      40
5      35
6      52
7      48
8      45
9      12
10     10
0     200
1     400
2     600
3     800
4       0
dtype: int64

In [69]:
quarter2 = pd.concat(units, axis='columns')
quarter2

    cpc   gold
0    44  200.0
1    27  400.0
2    30  600.0
3    38  800.0
4    40    0.0
5    35    NaN
6    52    NaN
7    48    NaN
8    45    NaN
9    12    NaN
10   10    NaN

# Combine data1 & data2 dataframe

In [73]:
data1['year1'] = data2['gold']
data1['year2'] = data2['silver']
data1

     Country  cpc  drive_right Purchased   pop  year1  year2
0     France   44         True        No  10.0  200.0    0.0
1      Spain   27        False       Yes  20.0  400.0    1.0
2    Germany   30         True        No  30.0  600.0    2.0
3      Spain   38        False        No  20.0  800.0    3.0
4    Germany   40         True       Yes  30.0    0.0    4.0
5     France   35        False       Yes  10.0    NaN    NaN
6      China   52         True        No  80.0    NaN    NaN
7      India   48         True       Yes  60.0    NaN    NaN
8    America   45         True        No  40.0    NaN    NaN
9     Canada   12        False       Yes   NaN    NaN    NaN
10  Pakistan   10         True       Yes   NaN    NaN    NaN

In [75]:
combined_data = data1.append(data2, ignore_index=True)
combined_data

     Country   cpc drive_right Purchased  ...  year2   gold  silver        date
0     France  44.0        True        No  ...    0.0    NaN     NaN         NaN
1      Spain  27.0       False       Yes  ...    1.0    NaN     NaN         NaN
2    Germany  30.0        True        No  ...    2.0    NaN     NaN         NaN
3      Spain  38.0       False        No  ...    3.0    NaN     NaN         NaN
4    Germany  40.0        True       Yes  ...    4.0    NaN     NaN         NaN
5     France  35.0       False       Yes  ...    NaN    NaN     NaN         NaN
6      China  52.0        True        No  ...    NaN    NaN     NaN         NaN
7      India  48.0        True       Yes  ...    NaN    NaN     NaN         NaN
8    America  45.0        True        No  ...    NaN    NaN     NaN         NaN
9     Canada  12.0       False       Yes  ...    NaN    NaN     NaN         NaN
10  Pakistan  10.0        True       Yes  ...    NaN    NaN     NaN         NaN
11     Qatar   NaN         NaN       NaN  ...    NaN  200.0     0.0  2014-01-01
12    Turkey   NaN         NaN       NaN  ...    NaN  400.0     1.0  2015-02-02
13     Dubai   NaN         NaN       NaN  ...    NaN  600.0     2.0  2016-03-03
14    Europe   NaN         NaN       NaN  ...    NaN  800.0     3.0  2017-04-04
15        UK   NaN         NaN       NaN  ...    NaN    0.0     4.0  3017-05-05

[16 rows x 10 columns]

# Sort the entries of cpc

In [76]:
cpc_sorted = data1.sort_index(level=0)
cpc_sorted

     Country  cpc  drive_right Purchased   pop  year1  year2
0     France   44         True        No  10.0  200.0    0.0
1      Spain   27        False       Yes  20.0  400.0    1.0
2    Germany   30         True        No  30.0  600.0    2.0
3      Spain   38        False        No  20.0  800.0    3.0
4    Germany   40         True       Yes  30.0    0.0    4.0
5     France   35        False       Yes  10.0    NaN    NaN
6      China   52         True        No  80.0    NaN    NaN
7      India   48         True       Yes  60.0    NaN    NaN
8    America   45         True        No  40.0    NaN    NaN
9     Canada   12        False       Yes   NaN    NaN    NaN
10  Pakistan   10         True       Yes   NaN    NaN    NaN

In [77]:
cpc_sorted.iloc[2:4,:]

   Country  cpc  drive_right Purchased   pop  year1  year2
2  Germany   30         True        No  30.0  600.0    2.0
3    Spain   38        False        No  20.0  800.0    3.0

In [78]:
cpc_sorted.iloc[4]

Country        Germany
cpc                 40
drive_right       True
Purchased          Yes
pop                 30
year1                0
year2                4
Name: 4, dtype: object